@use './fonts';
@use './colors';
@use './spacing';
@use './units';
@use './breakpoints';
@use './sizes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  // background: radial-gradient(circle at 90% 10%, colors.$secondary-extra-light, #ffffff, #ffffff, #ffffff);
  
  @media (max-width: breakpoints.$breakpoint-md) {
    padding: units.rem(26);
  }
  
  @media (min-width: breakpoints.$breakpoint-md) {
    padding: units.rem(32);
    display: flex;
    flex-direction: row;
  }

  .main-sidebar {
    @media (min-width: breakpoints.$breakpoint-md) {
      width: sizes.$sidebar-width;
    }
  }

  .main-content {
    flex: 1;
  }

  .main-sidebar-right {
    width: sizes.$sidebar-width;
  }
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding-left: units.rem(32);
  padding-right: units.rem(32);
  padding-top: units.rem(32);
  padding-bottom: units.rem(32);

  @media (max-width: breakpoints.$breakpoint-md) {
    display: none;
  }
  
  .main-label {
    @include fonts.font-h2;
  }
  
  .main-sort {
    @include fonts.font-body-small;
    
    .main-sort-by-label {
      font-weight: 600;
    }
  
    .main-sort-by-type {
      cursor: pointer;
      margin-left: units.rem(6);
      i {
        color: colors.$accent1-light;
        margin-left: units.rem(6);
        display: inline-block;
        transform: rotate(90deg);
      }
    }
  }
}


