@use './fonts';
@use './spacing';

$secondary-light: #ef4c84;
$secondary-light-light: #f0b6ca;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: fonts.$font-family;
  color: grey;
  background: radial-gradient(circle at 90% 40%, $secondary-light-light, #ffffff, #ffffff, #ffffff)
}

.app-container {
  padding-left: spacing.$horizontal-spacing;
  padding-right: spacing.$horizontal-spacing;
  display: flex;
  flex-direction: row;
}

