// Extra Small Devices (e.g., small phones)
$breakpoint-xs: 320px;

// Small Devices (e.g., phones)
$breakpoint-sm: 576px;

// Medium Devices (e.g., tablets)
$breakpoint-md: 768px;

// Large Devices (e.g., desktops)
$breakpoint-lg: 992px;

// Extra Large Devices (e.g., large desktops)
$breakpoint-xl: 1200px;

// Ultra Large Devices (e.g., 4K screens)
$breakpoint-xxl: 1400px;
