@use './units';

// Extra Small Devices (e.g., small phones)
$breakpoint-xs: units.rem(320);

// Small Devices (e.g., phones)
$breakpoint-sm: units.rem(576);

// Medium Devices (e.g., tablets)
$breakpoint-md: units.rem(768);

// Large Devices (e.g., desktops)
$breakpoint-lg: units.rem(992);

// Extra Large Devices (e.g., large desktops)
$breakpoint-xl: units.rem(1200);

// Ultra Large Devices (e.g., 4K screens)
$breakpoint-xxl: units.rem(1400);
