@use './fonts';
@use './colors';

$primary-color: #333;
$background-color: #f9f9f9;
$hover-color: colors.$neutrals-lightest;

.filters {
  flex-direction: column;
  margin-top: 15px;

  &__sidebar {
    display: none;
    flex-direction: column;
    background: white;
    border: 1px solid colors.$neutrals-lightest;
    padding: 20px;
    border-radius: 16px;
    min-width: 200px;

    .filters-title {
      @include fonts.font-h1;
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .filters__group {
      margin-top: 20px;

      .filter-applied {
        background-color: colors.$neutrals-extra-light;
        border-radius: 42px;
      }

      h3 {
        @include fonts.font-body-large;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-top: 6px;
          border-bottom: 1px solid colors.$neutrals-lightest;
          button {
            width: 100%;
            text-align: left;
            background: none;
            border: none;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            font-size: 14px;
            color: $primary-color;
            cursor: pointer;
            padding-left: 16px;

            &:hover {
              background: $hover-color;
              border-radius: 42px;
            }
            
          }
        }
      }
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;

    // .filters__group {
    //   margin-top: 20px;

    //   .filter-applied {
    //     background-color: colors.$neutrals-extra-light;
    //     border-radius: 42px;
    //   }
    // }

    .filters__dropdown-button {
      // background: colors.$secondary-light;
      border-radius: 42px;
      padding: 12px;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 14px;
      // color: colors.$secondary-medium;
      text-align: left;

      &:hover {
        background: colors.$neutrals-extra-light;
        // color: colors.$neutrals-extra-light;
      }
    }

    .filters__dropdown {
      list-style: none;
      margin: 0;
      padding: 0;
      border-radius: 5px;
      background: $background-color;
      margin-top: 5px;

      li {
        button {
          width: 100%;
          text-align: left;
          background: none;
          border: none;
          padding: 10px;
          font-size: 14px;
          color: $primary-color;
          cursor: pointer;

          &:hover {
            background: $hover-color;
            // color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .filters {
    flex-direction: row;

    &__sidebar {
      display: flex;
    }

    &__mobile {
      display: none;
    }
  }
}