@use './fonts';
@use './colors';
@use './units';
@use './breakpoints';

.filters {
  flex-direction: column;
  margin-top: units.rem(15);

  &--sidebar {
    display: none;
    flex-direction: column;
    background: white;
    border: units.rem(1) solid colors.$neutrals-lightest;
    padding: units.rem(20);
    border-radius: units.rem(16);

    .filters-title {
      @include fonts.font-h1;
      display: flex;
      align-items: center;
      font-size: units.rem(18);

      &-icon {
        margin-right: units.rem(12);
      }
    }

    .apply-filters {
      align-self: center;
      margin-top: units.rem(20);
    }
  }

  &--mobile {
    display: flex;
    flex-direction: row;
    gap: units.rem(10);

    .filter-applied {
      padding-top: units.rem(12);
      padding-bottom: units.rem(12);
      background-color: colors.hex-to-rgba(colors.$accent1-light, 0.05);
      color: colors.$accent1-dark;
      border: units.rem(1) solid colors.$accent1-dark;
      font-weight: bold;
      border-radius: units.rem(12);
    }
    
    // .ul {
    //   flex: 1;
    //   background: colors.$neutrals-extra-light;
    //   list-style: none;
    //   margin: 0;
    //   padding: 0;
    //   border-radius: units.rem(5);
    //   margin-top: units.rem(5);

    //   li {
    //     button {
    //       width: 100%;
    //       text-align: left;
    //       background: none;
    //       border: none;
    //       padding: units.rem(10);
    //       font-size: units.rem(14);
    //       color: colors.$neutrals-dark;
    //       cursor: pointer;

    //       &:hover {
    //         background: colors.$neutrals-lightest;
    //         // color: #fff;
    //       }
    //     }
    //   }
    // }
  }
}

.filters--group {
  margin-top: units.rem(20);

  .filter-applied {
    background-color: colors.hex-to-rgba(colors.$accent1-light, 0.05);
    color: colors.$accent1-dark;
    border: units.rem(1) solid colors.$accent1-dark;
    font-weight: bold;
    border-radius: units.rem(6);
  }

  h3 {
    @include fonts.font-body-large;
    margin-bottom: units.rem(10);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      border-bottom: units.rem(1) solid colors.$neutrals-lightest;
      button {
        margin-top: units.rem(12);
        margin-bottom: units.rem(12);
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        padding-top: units.rem(12);
        padding-bottom: units.rem(12);
        font-size: units.rem(14);
        color: colors.$neutrals-dark;
        cursor: pointer;
        padding-left: units.rem(16);

        &:hover {
          color: colors.$accent1-dark;
        }
        
      }
    }
  }
}

@media (min-width: breakpoints.$breakpoint-md) {
  .filters {
    flex-direction: row;

    &--sidebar {
      display: flex;
    }

    &--mobile {
      display: none;
    }
  }
}