@use './spacing';

$header-color: #ffffff;
$grey: #cecdcd;

.header-container {
  background: linear-gradient(to right, white, transparent);
  height: 80px;
  width: 100%;
  display: flex;
  padding-left: spacing.$horizontal-spacing;
  padding-right: spacing.$horizontal-spacing;
  color: black;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-width: 1px;
  border-color: $grey;

  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      width: auto;
      height: 25px;
      margin-right: 0.5rem;
    }
  }

  .nav-bar {
    .nav-list {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      .nav-item {
        margin: 0 0.5rem;

        .nav-link {
          color: $header-color;
          text-decoration: none;
          font-size: 1rem;

          &:hover {
            color: $grey;
            text-decoration: none;
          }
        }
      }
    }
  }
}