@use './fonts';
@use './colors';
@use './units';

.post-card {
  display: flex;
  flex-direction: column;
  border: units.rem(1) solid #ddd;
  border-radius: units.rem(16);
  overflow: hidden;
  width: units.rem(314);
  height: units.rem(425);
  // margin-bottom: units.rem(10);
  background: colors.$neutrals-lightest;

  &:hover {
    background: colors.$neutrals-extra-light;
    cursor: pointer;
  }

  &-thumbnail {
    width: units.rem(314);
    height: units.rem(196);
    object-fit: cover;
  }

  &-content {
    padding: units.rem(16);

    &-date-author {
      margin-bottom: units.rem(16);

      &-author {
        @include fonts.font-caption;
        font-family: fonts.$font-family;
      }

      &-dot {
        margin-left: units.rem(8);
        margin-right: units.rem(8);
        color: colors.$secondary-medium;
      }

      &-date {
        @include fonts.font-caption;
        font-family: fonts.$font-family;
      }
    }

    &-title {
      @include fonts.font-h3;;
      font-family: fonts.$font-family;
      margin-bottom: units.rem(16);
      
    }

    &-snippet {
      @include fonts.font-body-small;;
      text-align: justify;
      margin-bottom: units.rem(16);
    }

    &-categories {
      display: flex;
      flex-wrap: wrap;
      gap: units.rem(8);

      &-category {
        @include fonts.font-caption;
        background: colors.$neutrals-extra-light;
        border-radius: units.rem(42);
        padding-left: units.rem(12);
        padding-right: units.rem(12);
        padding-top: units.rem(8);
        padding-bottom: units.rem(8);
      }
    }
  }
}
