@use './units';
@use './sizes';

$minwidth-postcard: 
  sizes.$postcard-width-value-in-px 
  + sizes.$postcard-gap-value-in-px
;

.posts-container {
  .posts-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(#{$minwidth-postcard}px, 1fr));
  }
}