@use './colors';
@use './fonts';
@use './units';
@use './breakpoints';

.posts-details-container {
  width: 100%;
  @media (min-width: breakpoints.$breakpoint-md) {
    margin-top: units.rem(65);
  }

  .post-thumbnail-container {
    .post-thumbnail {
      width: 100%;
      border-radius: units.rem(15);
    }
  }

  .latest-articles {
    margin-top: units.rem(32);
    &--title {
      @include fonts.font-h2;
      @media (max-width: breakpoints.$breakpoint-md) {
        @include fonts.font-h3;
      }
    }
    &--list {
      margin-top: units.rem(16);
    }
  }

  .post-header {
      margin-bottom: units.rem(16);
      .post-title {
        @include fonts.font-h1;

        @media (max-width: breakpoints.$breakpoint-md) {
          @include fonts.font-h2;
          margin-bottom: units.rem(16);
        }
      }
  }

  .post-meta {
      margin-bottom: units.rem(20);
      font-family: fonts.$font-family;

      .author {
          .author-profile-picture {
            width: units.rem(50);
            height: units.rem(50);
            border-radius: units.rem(25);
            object-fit: cover;
            margin-right: units.rem(10);
          }

          .author-name {
              font-weight: bold;
              font-size: 1.2rem;
          }
      }

      .dates {
          font-size: 0.9rem;
          color: colors.$neutrals-extra-dark;
      }
  }

  .post-content {
    text-align: justify;
    font-family: fonts.$font-family;
    margin-top: units.rem(20);
    margin-bottom: units.rem(40);
    font-size: 1rem;
    line-height: 1.6;
    color: colors.$primary-light;
  }
}