@use './units';
@use './sizes';

$minwidth-postcard: 
  sizes.$postcard-width-value-in-px 
  + sizes.$postcard-gap-value-in-px
;

.posts-container {
  display: flex;

  .posts-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{$minwidth-postcard}px, 1fr));
  }
}