@use './fonts';
@use './colors';

.post-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  width: 314px;
  height: 425px;
  margin-bottom: 10px;
  background: colors.$neutrals-lightest;

  &:hover {
    background: colors.$neutrals-extra-light;
    cursor: pointer;
  }

  &-thumbnail {
    width: 314px;
    height: 196px;
    object-fit: cover;
  }

  &-content {
    padding: 16px;

    &-date-author {
      margin-bottom: 16px;

      &-author {
        @include fonts.font-caption;
        font-family: fonts.$font-family;
      }

      &-dot {
        margin-left: 8px;
        margin-right: 8px;
        color: colors.$secondary-medium;
      }

      &-date {
        @include fonts.font-caption;
        font-family: fonts.$font-family;
      }
    }

    &-title {
      @include fonts.font-h3;;
      font-family: fonts.$font-family;
      margin-bottom: 16px;
      
    }

    &-snippet {
      @include fonts.font-body-small;;
      text-align: justify;
      margin-bottom: 16px;
    }

    &-categories {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      &-category {
        @include fonts.font-caption;
        background: colors.$neutrals-extra-light;
        border-radius: 42px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}
