@use './units';
@use './sizes';

$minwidth-postcard: 
  sizes.$postcard-width-value-in-px 
  + sizes.$postcard-gap-value-in-px
;

.posts-container {
  margin-left: units.rem(sizes.$postcard-gap-value-in-px); 
  .posts-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}