@use './colors';
@use './fonts';
@use './units';

.posts-details-container {
    width: units.rem(100);
    margin-top: units.rem(65);
    width: 80%;
    padding: units.rem(20);
    text-align: justify;

  .post-thumbnail-container {
    .post-thumbnail {
      width: 100%;
      border-radius: units.rem(15);
      
    }
  }

  .latest-articles-title {
    @include fonts.font-h1;
  }

  .post-header {
      margin-bottom: units.rem(20);

      .post-title {
        @include fonts.font-h1;
      }
  }

  .post-meta {
      margin-bottom: units.rem(20);

      .author {
          .author-profile-picture {
            width: units.rem(50);
            height: units.rem(50);
            border-radius: units.rem(25);
            object-fit: cover;
            margin-right: units.rem(10);
          }

          .author-name {
              font-weight: bold;
              font-size: 1.2rem;
          }
      }

      .dates {
          font-size: 0.9rem;
          color: colors.$secondary-light;
      }
  }

  .post-content {
      margin-top: units.rem(20);
      margin-bottom: units.rem(40);
      font-size: 1rem;
      line-height: 1.6;
      color: colors.$secondary-light;
  }
}